html, body { height: 100%; }

/* Panel */
.panel {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vw;
	width: 300px;
	background: rgba(255, 255, 255, 0.8);
}
/* Map */
.map {
	width: 100vw;
	height: 100vh;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mapboxgl-canvas {
	outline: none;
}
.mapboxgl-ctrl-top-right {
	right: 300px;
}
/* Inputs */
.number-input-group {
	display: flex;
	/*align-items: center;*/
}
.number-input-label {
	margin-right: 10px;
}
.number-input {
	width: 100px;
}