html, body { height: 100%; }

/* Panel */
.panel {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vw;
	width: 300px;
	background: rgba(255, 255, 255, 0.8);
}
/* Map */
.map {
	width: 100vw;
	height: 100vh;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mapboxgl-canvas {
	outline: none;
}